@use '@carbon/react/scss/themes' as *;
@use '@carbon/styles';
@use '@carbon/grid';


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// Added styles
img {
  max-width: 100%;
  height: auto;
}

// prevents words overflow
h1, p {
  word-break: break-word;
}

